{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/InputForm.css'%}">
  {% endblock %}

{% block content %}  

<div>
<form action="" method="POST" class="form login">{% csrf_token %}
    <table class="spreadsheet">    
        <tr>    
       
            <td>    </td>    
            <td>Sneaker</td>   
            <td>Farben</td> 
            <td>Fertige Sneaker</td>
        </tr>    
        <tr>    
        
        <td>  Lager (Vorperiode):  </td>    
        <td>  <input class="input" placeholder=" {{Lager_Sneaker}}" id="Lager_Sneaker" type="text" name="Lager_Sneaker" /><br />  </td>   
        <td>  <input class="input" placeholder=" {{Lager_Farben}}" id="Lager_Sneaker" type="text" name="Lager_Farben" disabled/><br />  </td> 
        <td>  <input class="input" placeholder=" {{Lager_Fertige_Sneaker}}" id="Lager_Sneaker" type="text" name="Lager_Fertige_Sneaker"disabled /><br />  </td>
        </tr>    
    <tr>    
      <td>  Aktuelle Beschaffung: </td>    
      <td>  <input class="input" placeholder=" {{Aktuelle_Beschaffung_Sneaker}}" id="Lager_Sneaker" type="text" name="Aktuelle_Beschaffung_Sneaker" /><br />  </td>   
      <td>  <input class="input" placeholder=" {{Aktuelle_Beschaffung_Farben}}" id="Lager_Sneaker" type="text" name="Aktuelle_Beschaffung_Farben" /><br />  </td> 
      <td>  <input class="input" placeholder=" {{ Aktuelle_Beschaffung_Fertige_Sneaker}}" id="Lager_Sneaker" type="text" name="Aktuelle_Beschaffung_Fertige_Sneaker" /><br />  </td>
    </tr>    
    <tr>    
        <td>  Gesamte Verfügbarkeit: </td>    
        <td>  <input class="input" placeholder=" {{ Gesamte_Verfügbarkeit_Sneaker}}" id="Lager_Sneaker" type="text" name="Gesamte_Verfügbarkeit_Sneaker" /><br />  </td>   
      <td>  <input class="input" placeholder=" {{ Gesamte_Verfügbarkeit_Farben}}" id="Lager_Sneaker" type="text" name="Gesamte_Verfügbarkeit_Farben" /><br />  </td> 
      <td>  <input class="input" placeholder=" {{ Gesamte_Verfügbarkeit_Fertige_Sneaker}}" id="Lager_Sneaker" type="text" name="Gesamte_Verfügbarkeit_Fertige_Sneaker" /><br />  </td>
      </tr>   
      <tr>    
        <td>  Lager Periodenende (PLAN): </td>    
        <td>  <input class="input" placeholder=" {{ Lager_Periodenende_PLAN_Sneaker}}" id="Lager_Sneaker" type="text" name="Lager_Periodenende_PLAN_Sneaker" /><br />  </td>   
        <td>  <input class="input" placeholder=" {{ Lager_Periodenende_PLAN_Farben}}" id="Lager_Sneaker" type="text" name="Lager_Periodenende_PLAN_Farben" /><br />  </td> 
        <td>  <input class="input" placeholder=" {{ Lager_Periodenende_PLAN_Fertige_Sneaker}}" id="Lager_Sneaker" type="text" name="Lager_Periodenende_PLAN_Fertige_Sneaker" /><br />  </td>
      </tr>  
      <tr>    
        <td>  Lagerkosten pro Stück: </td>    
        <td>  <input class="input" placeholder=" {{ Lagerkosten_pro_Stück_Sneaker}}" id="Lager_Sneaker" type="text" name="Lagerkosten_pro_Stück_Sneaker" /><br />  </td>   
        <td>  <input class="input" placeholder=" {{ Lagerkosten_pro_Stück_Farben}}" id="Lager_Sneaker" type="text" name="Lagerkosten_pro_Stück_Farben" /><br />  </td> 
        <td>  <input class="input" placeholder=" {{ Lagerkosten_pro_Stück_Fertige_Sneaker}}" id="Lager_Sneaker" type="text" name="Lagerkosten_pro_Stück_Fertige_Sneaker" /><br />  </td>
      </tr>  
      <tr>    
        <td>  Lagerkosten (PLAN): </td>    
        <td>  <input class="input" placeholder=" {{ Lagerkosten_PLAN_Sneaker}}" id="Lager_Sneaker" type="text" name="Lagerkosten_PLAN_Sneaker" /><br />  </td>   
        <td>  <input class="input" placeholder=" {{ Lagerkosten_PLAN_Farben}}" id="Lager_Sneaker" type="text" name="Lagerkosten_PLAN_Farben" /><br />  </td> 
        <td>  <input class="input" placeholder=" {{ Lagerkosten_PLAN_Fertige_Sneaker}}" id="Lager_Sneaker" type="text" name="Lagerkosten_PLAN_Fertige_Sneaker" /><br />  </td>
      </tr>  
      <tr>    
        <td>  Verbrauch Produktion (IST): </td>    
        <td>  <input class="input" placeholder=" {{ Verbrauch_Produktion_IST_Sneaker}}" id="Lager_Sneaker" type="text" name="Verbrauch_Produktion_IST_Sneaker" /><br />  </td>   
        <td>  <input class="input" placeholder=" {{ Verbrauch_Produktion_IST_Farben}}" id="Lager_Sneaker" type="text" name="Verbrauch_Produktion_IST_Farben" /><br />  </td> 
        <td>  <input class="input" placeholder=" {{ Verbrauch_Produktion_IST_Fertige_Sneaker}}" id="Lager_Sneaker" type="text" name="Verbrauch_Produktion_IST_Fertige_Sneaker" /><br />  </td>
      </tr> 
      <tr>    
        <td>  Lager Periodenende (IST): </td>    
        <td>  <input class="input" placeholder=" {{ Lager_Periodenende_IST_Sneaker}}" id="Lager_Sneaker" type="text" name="Lager_Periodenende_IST_Sneaker" /><br />  </td>   
      <td>  <input class="input" placeholder=" {{ Lager_Periodenende_IST_Farben}}" id="Lager_Sneaker" type="text" name="Lager_Periodenende_IST_Farben" /><br />  </td> 
      <td>  <input class="input" placeholder=" {{ Lager_Periodenende_IST_Fertige_Sneaker}}" id="Lager_Sneaker" type="text" name="Lager_Periodenende_IST_Fertige_Sneaker" /><br />  </td>
      </tr> 
      <tr>    
        <td>  Lagerkosten (IST): </td>    
        <td>  <input class="input" placeholder=" {{ Lagerkosten_IST_Sneaker}}" id="Lager_Sneaker" type="text" name="Lagerkosten_IST_Sneaker" /><br />  </td>   
        <td>  <input class="input" placeholder=" {{ Lagerkosten_IST_Farben}}" id="Lager_Sneaker" type="text" name="Lagerkosten_IST_Farben" /><br />  </td> 
        <td>  <input class="input" placeholder=" {{ Lagerkosten_IST_Fertige_Sneaker}}" id="Lager_Sneaker" type="text" name="Lagerkosten_IST_Fertige_Sneaker" /><br />  </td>
      </tr> 
    </table>  
    <input type="submit" value="Apply changes">
    </form>
</div>
{% endblock %}