:root {
    --loginBorderRadus: 0.25rem;
    --loginColor: #eee;
  
    --loginInputBackgroundColor: #3b4148;
    --loginInputHoverBackgroundColor: #434a52;
  
    --loginLabelBackgroundColor: #363b41;
  
    --loginSubmitBackgroundColor: rgb(0, 200, 0);
    --loginSubmitColor: #eee;
    --loginSubmitHoverBackgroundColor: rgb(0, 200, 0);
  }
  :root {
    --htmlFontSize: 100%;
  
    --bodyBackgroundColor: #2c3338;
    --bodyColor: var(--baseColor);
    --bodyFontFamily:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --bodyFontFamilyFallback: sans-serif;
    --bodyFontSize: 0.875rem;
    --bodyFontWeight: 400;
    --bodyLineHeight: 1.5;
  }