@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
    font-family: 'Nunito', -apple-system, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(88, 87, 87);
    border-radius: 10px;
}